<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <ol>
        <% content.forEach(item => { %>
          <li><a href="<%= item.link %>"><%= item.title %></a></li>
        <% }); %>
      </ol>
      <button id="js-feedBtn">ニュースを取得する</button>
      <div id="js-feedArea"></div>
    </main>
    <script src="/javascripts/feed.js"></script>
  </body>
</html>