<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <h2>Welcome to <%= login.name %>.</h2>
      <form action="/" method="post">
        <p>
          <input type="text" name="msg" size="50">
          <input type="submit" value="送信">
        </p>
      </form>
      <hr>
      <p>
        <table style="width: 95%;">
          <% collection.forEach(item => { %>
            <%- include('data_item', { val: item }) %>
          <% }); %>
        </table>
      </p>
      <p>
        <% if (pagination.page > 1) { %>
          <span><a href="/<%= pagenation.page - 1 %>">&lt;&lt; Prev</a></span>
        <% } else { %>
          <span>&lt;&lt; Prev</span>
        <% } %>
        |
        <% if (pagination.page < pagenation.pageCount) { %>
          <span><a href="/<%= pagenation.page + 1 %>">Next &gt;&gt;</a></span>
        <% } else { %>
          <span>Next &gt;&gt;</span>
        <% } %>
      </p>
    </main>
  </body>
</html>
