<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <table>
        <% content.forEach(item => { %>
          <tr>
            <th><%= item.id %></th>
            <td><%= item.name %></td>
            <td><%= item.mail %></td>
            <td><%= item.age %></td>
          </tr>
        <% }); %>
      </table>
    </main>
  </body>
</html>