<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>MAIL</th>
        <th>AGE</th>
      </tr>
      <% content.forEach(item => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.mail %></td>
          <td><%= item.age %></td>
        </tr>
      <% }); %>
    </table>
    <ul>
      <li><a href="/bookshelf/add">新規追加</a></li>
      <li>
        IDを指定して表示
        <form action="/bookshelf/show" method="get">
          <input type="number" name="id"><input type="submit" value="GET">
        </form>
    </ul>
  </main>
</body>
</html>